# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives__
    - List popular languages for Data Science
    - Some of the commonly used libraries in Data Science
    - Arithmatic Expressions

##### Some of the commonly used libraries used by Data Scientists include:

1. R
2. Python
3. SQL

##### Some of the commonly used libraries used by Data Scientists include:

1. ggplot
2. matplotlib
3. Pandas

|Data Science Tools|
|------------------|
|ggplot2|
|Excel|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60
print(200/60, 'hours')

3.3333333333333335 hours

## Author
###### Nate G